styles.css

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: D5B895; !important;
    color: 000000;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: A67A5B;
}

/* Header */
header {
    background-color: 000000;
    color: D5B895;
    padding: 20px;
    text-align: center;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #D5B895;
    border-radius: 8px;
}

section h2 {
    font-size: 1.5em;
}

/* Footer */
footer {
    background-color: 000000;
    color: D5B895;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
